<div class="glavni">
  <div>
  <a
    href="/slika-mene"
    ><img
      src="/slika-mene"
      alt="Moja slika"
      height="300px"
  /></a>
    <div class="tekst">Stanko Smrček</div>
    <div class="tekst">ssmrcek20@student.foi.hr</div>
</div>
  <div>
    <h3>Tablica REST servisa:</h3>
    <table>
      <tr class="prvi">
        <th>REST servis</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>api/korisnici</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/korisnici/korime</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/korisnici/korime/aktivacija</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/korisnici/korime/prijava</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/filmovi/?stranica=broj
&brojFilmova=broj[&datum=datum]
[&zanr=idZanr][&naziv=dioNazivFilma]
[&sortiraj=[d | z | n]]
        </td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/filmovi/id</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/zanr/</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/zanr/id</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>api/tmdb/zanr</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr class="zadnji">
        <td>api/tmdb/filmovi?kljucaRijec=rijec1
[,rijec2]&stranica=broj</td>
        <td>Sve napravljeno</td>
      </tr>
    </table>
  </div>

  <div>
    <h3>Tablica Web aplikacije:</h3>
    <table>
      <tr class="prvi">
        <th>Web aplikacija</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Početna - gost</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Dokumentacija - gost</td>
        <td>Sve napravljeno ali maknuta slika ERA dijagrama
jer nije potrebna za ovu zadaću</td>
      </tr>
      <tr>
        <td>Registracija - gost</td>
        <td>Sve napravljeno ali maknuta aktivacija sa mailom
jer nije potrebna za ovu zadaću</td>
      </tr>
      <tr>
        <td>Prijava - gost</td>
        <td>Sve napravljeno ali maknut TOTP 
jer nije potreban za ovu zadaću</td>
      </tr>
      <tr>
        <td>Odjava - gost</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Profil - korisnik</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Filmovi pregled - korisnik</td>
        <td>Sve napravljeno ali filtriranje po datumu unosa ne radi savršeno,
ne radi za mjesece i godine</td>
      </tr>
      <tr>
        <td>Film - korinsik</td>
        <td>Sve napravljeno ali poveznica na Galeriju slika ne vodi nikamo</td>
      </tr>
      <tr>
        <td>Filmovi pretraživanje - korinsik</td>
        <td>Sve napravljeno ali pošto ne postoji stranica za prijedlog filmova,
filmovi se pokažu na stranici Filmovi pregled radi lakšeg testiranja</td>
      </tr>
      <tr>
        <td>Galerija slika - korinisk</td>
        <td>Nije napravljeno</td>
      </tr>
      <tr>
        <td>Slika - korinisk</td>
        <td>Nije napravljeno</td>
      </tr>
      <tr>
        <td>Filmovi prijedlozi - admin</td>
        <td>Nije napravljeno</td>
      </tr>
      <tr class="zadnji">
        <td>Žanrovi - admin</td>
        <td>Nije napravljeno</td>
      </tr>
    </table>
  </div>

  <div>
    <h3>Tablica koraka za zadaću 2:</h3>
    <table>
      <tr class="prvi">
        <th>Koraci</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Korak 1</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 2</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 3</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 4</td>
        <td>Nije napravljeno</td>
      </tr>
      <tr>
        <td>Korak 5</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 6</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 7</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 8</td>
        <td>Nije napravljeno</td>
      </tr>
      <tr>
        <td>Korak 9</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 10</td>
        <td>Nije napravljeno</td>
      </tr>
      <tr>
        <td>Korak 11</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 12</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 13</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 14</td>
        <td>Sve napravljeno, treba instalirati ng-recaptcha modul da bi recaptcha radila
(koristi se na prijava, registracija i profil)</td>
      </tr>
      <tr>
        <td>Korak 15</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 16</td>
        <td>Dokumentacija je ugrađena u angular</td>
      </tr>
      <tr>
        <td>Korak 17</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 18</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 19</td>
        <td>Sve napravljeno</td>
      </tr>
      <tr>
        <td>Korak 20</td>
        <td>Nemam direktne komunikacije angulara i servisa</td>
      </tr>
      <tr class="zadnji">
        <td>Korak 21</td>
        <td>Nije napravljeno</td>
      </tr>
    </table>
  </div>
</div>
